{erl_opts, [
		warnings_as_errors,
		debug_info
	]}.
{deps, [
		{gin, ".*", {git, "https://github.com/RGafiyatullin/gin.git", {tag, "48fe4953d7e5453eba4de9368434a095a44bbe5d"}}},
		{parse_trans, ".*", {git, "https://github.com/uwiger/parse_trans.git", {tag, "2.9.1"}}},
		{ranch, ".*", {git, "https://github.com/ninenines/ranch.git", {tag, "1.1.0"}}},
		{expellee, ".*", {git, "https://github.com/RGafiyatullin/expellee.git", {tag, "0.1.1"}}}
	]}.
